    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container tradingview-widget-container-custom" >
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"></a></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
        {
        "symbols": [
        {
            "proName": "FOREXCOM:SPXUSD",
            "title": "S&P 500"
        },
        {
            "proName": "FOREXCOM:NSXUSD",
            "title": "US 100"
        },
        {
            "proName": "FX_IDC:EURUSD",
            "title": "EUR to USD"
        },
        {
            "proName": "BITSTAMP:BTCUSD",
            "title": "Bitcoin"
        },
        {
            "proName": "BITSTAMP:ETHUSD",
            "title": "Ethereum"
        },
        {
            "description": "",
            "proName": "BINANCE:SOLUSDT"
        },
        {
            "description": "",
            "proName": "BINANCE:XRPUSDT"
        },
        {
            "description": "",
            "proName": "CRYPTOCAP:USDT.D"
        },
        {
            "description": "",
            "proName": "NASDAQ:AAPL"
        },
        {
            "description": "",
            "proName": "NASDAQ:TSLA"
        }
        ],
        "showSymbolLogo": true,
        "isTransparent": false,
        "displayMode": "regular",
        "colorTheme": "dark",
        "locale": "en"
    }
        </script>
        </div>
    <!-- TradingView Widget END -->