<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Fractal Equities</title>
    <%- include('partials/headlinks') %>
</head>
<body >
    <%- include('partials/navbar') %>
     <main class="mt-5 pt-2">
        <%- include('partials/tradingview') %>

        <div class="about-hero">
            <h1 class="font-poppins fw-bold text-center py-4">ABOUT <span class="color1">FRACTAL EQUITIES</span></h1>
        </div>

        <div class="py-sm-5 py-3 px-md-5 px-4 fs-5">
            <h1 class="fw-bold py-sm-3 px-md-5" style="color: #b9b7b7;">Who Are We? </h1>
            <div class="px-md-5">
                <p>
                    Welcome to <span class="font-poppins fw-bold color1">Fractal Equities</span>, your gateway to the ever-evolving landscape of digital currencies and foreign exchange trading. With a team of seasoned traders and analysts at your side, we are committed to empowering you with the expertise, resources, and unwavering support needed to thrive in these dynamic and high-paced markets.
                </p>
                <p>
                    As a Leader in Digital Currency Investing, We believe that digital currencies will revolutionize our legacy economic, political, and social systems. With that transformation comes a meaningful generational shift in how institutions and individuals approach investing. That's where <span class="color1 fw-bold">Fractal Equities</span> comes in.
                </p>
                <p>
                    As the leading blockchain investment firm and one of the largest institutional owners of cryptocurrencies. Our mission is to act as the catalyst for widespread blockchain adoption and innovation.
                </p>
            </div>

            <h1 class="fw-bold pb-sm-3 pt-5 mt-md-5 px-sm-5" style="color: #b9b7b7;">Our Objective </h1>
            <div class="px-sm-5">
                <p>
                    Our objective is to mitigate risks and secure a steady, sustainable income for our investors. With the aid of rapidly advancing technologies and sophisticated computer algorithms, we explore every available option to transform your investments into possibilities that might have seemed unimaginable a decade ago. In a world that is rapidly evolving, we understand the importance of adapting to stay ahead of the curve. The future is already unfolding, and <span class="color1 fw-bold">Fractal Equities</span> is here to help you comprehend and capitalize on it. Let us provide you with financial support every step of the way.
                </p>
            </div>
        </div>
        <div class="hero5 py-5 text-center px-3">
            <h2 class="fw-bold font-poppins py-3">COMMENCE YOUR JOURNEY TODAY WITH <span class="color1">FRACTAL EQUITIES</span></h2>
            <p class="font-lato fs-4 mb-4">Register for Free and Commence Investing!</p>
            <a href="/signup" class="btn btn3 fs-4 px-3 py-2 fw-bold">REGISTER NOW </a>
        </div>
    </main>
    <%- include('partials/footer') %>
    
</body>
</html>