<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Plans - Fractal Equities</title>
    <%- include('partials/headlinks') %>
</head>
<body>
    <%- include('partials/navbar') %>
     <main class="mt-5 pt-2" data-bs-theme="dark">
        <%- include('partials/tradingview') %>

        <div class="about-hero">
            <h1 class="font-poppins fw-bold text-center py-4">TRADING PLANS</h1>
        </div>

        <div class="py-3 px-5">
            <div class="container-fluid py-5 px-md-5 px-2">
                <div class="row g-5">
                    <div class="col-12 col-md-6 p-0">
                        <div class="account px-5 py-4 mx-auto">
                            <p class="fw-bold font-poppins fs-4 my-2">Basic Plan</p>
                            <a href="/signup" class="btn btn2 fs-6 px-2 py-1">Get Started</a>
                            <hr style="border: 1px solid white;">
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    Up to 1:500 Leverage
                                </span>
                            </div>
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    20% Weekly Estimated Returns
                                </span>
                            </div>
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    2.5% Referal Bonus
                                </span>
                            </div>
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    <span class="fw-bold">$200</span> Minimum Deposit
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 p-0">
                        <div class="px-5 py-4 account mx-auto">
                            <p class="fw-bold font-poppins fs-4 my-2">Pro Plan</p>
                            <a href="/signup" class="btn btn2 fs-6 px-2 py-1">Get Started</a>
                            <hr style="border: 1px solid white;">
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    Up to 1:1000 Leverage
                                </span>
                            </div>
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    35% Weekly Estimated Returns
                                </span>
                            </div>
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    5% Referal Bonus
                                </span>
                            </div>
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    <span class="fw-bold">$1000</span> Minimum Deposit
                                </span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-12 col-md-6 p-0">
                        <div class="account px-5 py-4 mx-auto">
                            <p class="fw-bold font-poppins fs-4 my-2">Premium Plan</p>
                            <a href="/signup" class="btn btn2 fs-6 px-2 py-1">Get Started</a>
                            <hr style="border: 1px solid white;">
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    Up to 1:1500 Leverage
                                </span>
                            </div>
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    50% Weekly Estimated Returns
                                </span>
                            </div>
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    5% Referal Bonus
                                </span>
                            </div>
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    <span class="fw-bold">$10,000</span> Minimum Deposit
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 p-0">
                        <div class="account px-5 py-4 mx-auto">
                            <p class="fw-bold font-poppins fs-4 my-2">Retirement Plan</p>
                            <a href="/signup" class="btn btn2 fs-6 px-2 py-1">Get Started</a>
                            <hr style="border: 1px solid white;">
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    Up to 1:2000 Leverage
                                </span>
                            </div>
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    65% Weekly Estimated Returns
                                </span>
                            </div>
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    10% Referal Bonus
                                </span>
                            </div>
                            <div class="py-2">
                                <span class="numbering">
                                    <img src="/assets/img/checked.png" alt="">
                                </span>
                                <span class="ps-2">
                                    <span class="fw-bold">$50,000</span> Minimum Deposit
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="pt-4 px-2 ps-md-5">
            <div class="hero3 ps-md-5 ps-2">
                <p class="font-poppins fw-bold fs-4">
                    Choose your trading plan and build your portfolio today!
                </p>
                <div class="py-3">
                    <div class="py-2">
                        <span class="numbering align-middle">
                            <img src="/assets/img/number-1.png" alt="">
                        </span>
                        <span class="ps-3 align-middle">
                            Complete the registration form
                        </span>
                    </div>
                    <div class="py-2">
                        <span class="numbering align-middle">
                            <img src="/assets/img/number-2.png" alt="">
                        </span>
                        <span class=" ps-3 align-middle">
                            Choose the right plan to suit your trading needs
                        </span>
                    </div>
                    <div class="py-2">
                        <span class="numbering align-middle">
                            <img src="/assets/img/number-3.png" alt="">
                        </span>
                        <span class=" ps-3 align-middle">
                            Verify your new profile
                        </span>
                    </div>
                    <div class="py-2">
                        <span class="numbering align-middle">
                            <img src="/assets/img/number-4.png" alt="">
                        </span>
                        <span class="ps-3 align-middle">
                            Fund your account, invest and start trading
                        </span>
                    </div>
                    <div class="py-2">
                        <span class="numbering align-middle">
                            <img src="/assets/img/number-5.png" alt="">
                        </span>
                        <span class="ps-3 align-middle">
                            Withdraw Profits!
                        </span>
                    </div>
                </div>

                <div class="pt-3 pb-4 mb-5">
                    <a href="/signup" class="btn btn2 fw-semibold fs-4">REGISTER NOW</a>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>